head
  title=title
  base(href='/')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, minimum-scale=1.0, shrink-to-fit=no')
  meta(name='mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content=theme.color)
  meta(name='description' content=meta.og.desc)
  meta(property="og:url" content=meta.og.url)
  meta(property="og:title" content=meta.og.title)
  meta(property="og:description" content=meta.og.desc)
  meta(property="og:image" content=meta.og.image)
  link(rel="icon" type="image/png" href=meta.ico)
  for src in styleSheets
    link(href=src rel='stylesheet')
  for src in javaScripts
    script(src=src type="text/javascript" async)
body  
  // markup adapted from "john doe" - https://github.com/cadars/john-doe/blob/main/index.html
  header
    h1
      a(href="#home") Site title
    nav
      a(href="#about") About
      a(href="#blog") Blog
  main
    section(id="home")
      h2 Home Page
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section(id="about")
      h2 About Page
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section(id="blog")
      article 
        h2 Random Title
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      article 
        h2 Another random title
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.